div.bg { margin:1em 0px; }
div.bg div { border:solid 1px #f80; padding:3px; layout-grid:line loose 0.3em none; }
div.bg div.date { border-bottom-width:0px; width:200px; }
div.bg div.text { width:800px; }
